
.dropdown-menu {
    /* background: red; */
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: var(--purple);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: var(--light-purple);
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--white);
    padding: 16px;
  }

  .dropdown-link:hover {
    color: var(--light);
  }

  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }