
/* center div verticcally */
.error-container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.error-num {
    font-size: 5rem;
    font-weight: 900;
    color: var(--head-light);
    margin-bottom: 20px;
}

.error-message {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--head-light);
    margin-bottom: 20px;
}

.error-sub-message {
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--head-light);
    max-width: 400px;
    margin-bottom: 20px;
}

.error-btn {
	width: fit-content;
    margin: 40px ;
	text-decoration: none;
	color: var(--white);
	font-size: 18px;
	font-weight: bold;
	padding: 20px;
	background-color: var(--theme);
	border-radius: 50px;
	transition: all 200ms ease;
    border: 2px solid var(--theme);
}

.error-btn:hover {
    background-color: unset;
}
