#projects {
	position: relative;
	padding-top: 50px;

	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

@media screen and (max-width: 1800px) {
	#projects {
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	}

	#projects .header {
		grid-column: auto / span 2;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1300px) {
	#projects {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}

	#projects .header {
		grid-column: auto / span 1;
	}
}
