.content {
	width: 80%;
    max-width: 1000px;
	min-height: calc(100vh - 340px);
	margin: 0 auto 110px;
    padding-top: 110px;
}

.project-cover {
	margin: 20px 0;
}

.project {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 170px 1fr;
	grid-template-rows: 1fr;
	align-items: center;
}

.info-bg {
	background: var(--grey);
	box-shadow: var(--shadow);
	min-height: 350px;
	padding: 50px;
	border-radius: 10px;
	grid-column: 1 / 3;
	grid-row: 1 / auto;
}

.project-info {
	width: 75%;
	color: var(--head-light);
}

.project-info h2 {
	margin-bottom: 25px;
	font-weight: bold;
}

.project-info p {
	line-height: 1.7;
	min-height: 250px;
	margin-right: 5px;
	display: inline
}

.project-info p a {
	text-decoration: none;
	color: var(--head-light);
	font-weight: bold;
}

.project-info p a:hover {
	text-decoration: underline;
	color: var(--purple);
}

.project-links {
	display: flex;
	align-items: center;
	margin: 20px 0 0;
}

.project-links .demo {
	color: var(--white);
	font-size: 1rem;
	background-color: var(--purple);
	text-decoration: none;
	padding: 13px;
	border-radius: 5px;
	border: solid 2px var(--purple);
	transition: background-color 200ms ease-in-out; 
	margin-right: 10px;
}

.project-links .demo:hover {
	background: none;
	color: var(--light);
}

.project-links .github {
	color: var(--white);
	font-size: 20px;
	background-color: var(--purple);
	padding: 11px 13px;
	text-align: center;
	border-radius: 50%;
	border: solid 2px var(--purple);
	transition: background-color 200ms ease-in-out; 
}

.project-links .github:hover {
	background: none;
	color: var(--light);
}

.img-container {
	position: relative;;
	grid-column: 2 / 4;
	grid-row: 1 / auto;
	transition: all .2s ease-in-out;
	border-radius: 10px;
}

.img-container .img {
	position: relative;
	background: var(--skill-grey);
	max-width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}


.languages {
	color: var(--purple);
	display: flex;
	margin: 10px;
	margin-left: auto;
}

.languages i {
	font-size: 24px;
	margin-left: 14px;
	margin-right: 14px;
}

.languages i.fab {
	margin-top: 3.4px;
	font-size: 22px;
}

@media screen and (max-width: 13000px) {
	.info-bg {
		min-height: unset;
		grid-column: 1 / 4;
		grid-row: unset;
		padding: 30px;
	}
	.project-info {
		width: 100%;
	}
	.project-info p {
		min-height: unset;
	}
	.img-container {
		right: 0;
		margin-bottom: 20px;
		grid-column: 1 / 4;
	}
	.img-container .languages {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.project-links {
		flex-direction: column;
		height: fit-content;
	}

	.btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.btns > a {
		width: 100% !important;
	}

	.demo {
		margin: 0 !important;
		text-align: center;
	}

	.github {
		margin-top: 10px;
		border-radius: 5px !important;
	}

	.languages {
		margin: 20px;
	}

	.languages i {
		text-align: center;
	}
}
